# Ignore Python bytecode files
__pycache__/

# Ignore virtual environment
venv/


# Ignore Learning folder
Learning Phase/

# Ignore IDE-specific files
.vscode/
.idea/
/API/.vscode/
/API/.idea

/API/node_modules



