# Ignore Python bytecode files
__pycache__/

# Ignore virtual environment
venv/

# Ignore images
images/

# Ignore test validation folder
tests/validation

# Ignore output folder
output/

# Ignore IDE-specific files
.vscode/
.idea/
